.catPhoto-1 {
  border: 2px solid black;
  height: 250px;
  left: 210px;
  position: relative;
  width: 300px;
}

.catPhoto-2 {
  border: 2px solid black;
  display: none;
  height: 250px;
  left: -400px;
  position: relative;
  width: 300px;
}
