.footer {
  background-image: url("../images/backgrounds/stressed-linen.png");
  height: 325px;
}

#bottom {
  background-color: #333;
  color: white;
  height: 30px;
  padding-right: 35px;
  padding-top: 5px;
  text-align: right;
}

#footerBlock {
  border-right: 1px dotted black;
  display: block;
  height: 100%;
  position: relative;
  text-align: center;

  p {
    margin-top: 50px;
  }
}
