#glasses {
  display: none;
  height: 125px;
  position: absolute;
  top: 444px;
  width: 400px;
}

#lit {
  display: none;
  height: 50px;
  float: right;
  left: 1200px;
  position: absolute;
  top: 582px;
  width: 120px;
}

#trigger1 {
  display: block;
  position: absolute;
  top: 165px;
}

#trigger2 {
  display: block;
  position: absolute;
  top: 168px;
}
