#animate1 {
  position: absolute;
  float: right;
  top: 600px;
  left: 500px;
}

#glasses {
  display: none;
  height: 125px;
  left: 400px;
  position: absolute;
  top: 444px;
  width: 400px;
}

#trigger1 {
  position: absolute;
  top: 100px;
}
