#glasses {
  display: none;
  height: 125px;
  position: absolute;
  top: 190px;
  width: 400px;
}

#lit {
  display: none;
  height: 50px;
  float: right;
  left: 90%;
  position: absolute;
  top: 320px;
  width: 120px;
}
