#LitSlideIn {
  display: block;
  position: absolute;
  top: 600px;
}

#LitSlideOut {
  display: block;
  position: absolute;
  top: 845px;
}

#Neko {
  display: block;
  position: absolute;
  top: 1750px;
}

#Puddin {
  display: block;
  position: absolute;
  top: 1200px;
}

#SGslideIn {
  display: block;
  position: absolute;
  top: 600px;
}

#SGslideOut {
  display: block;
  position: absolute;
  top: 930px;
}
